:root {
    --PennStBlue: #00225A;
    --CCPYellow: #F8C508;
    --CodeupGreen: #799F4B;
    --CodeupYellow: yellow;
    --DevryGold: #D0A314;
    --DevryBlue: #01458C;
    --CCAFBlue: #172C7F;
    --CCAFYellow: #FDF100;
    --USMCScarlet: #CC2524;
    --USMCGold: #B89F2D;
    --NavyBlue: #0042BC;
    --MiramarTiel: #007472;
    --MadisonBlue: #1F2C4C;
    --MadisonGold: #EAB834;
}

h1 {
    font-size: 68px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
}

hr {
    border: 3px solid var(--USMCScarlet);
    width: 100%;
}

img {
    width: 350px;
    border: 3px solid black;
}

.container {
    margin: 0;
}

.row {
    width: 100vw;
}

.ctrimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1 {
    font-size: 35px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text2 {
    font-size: 25px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text3 {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
    padding-right: 10px;
}

.penn {
    background-color: var(--PennStBlue);
}

.penn_text {
    align-content: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.ccp {
    background-color: var(--CCPYellow);
}

.ccp_text {
    align-content: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.codeup {
    background-color: var(--CodeupGreen);
}

.codeup_text {
    align-content: center;
    justify-content: center;
    color: var(--CodeupYellow);
}

.devry {
    background-color: var(--DevryGold);
}

.devry_text {
    align-content: center;
    justify-content: center;
    color: var(--DevryBlue);
}

.ccaf {
    background-color: var(--CCAFBlue);
    padding: 10px;
}

.ccaf_text {
    align-content: center;
    justify-content: center;
    color: var(--CCAFYellow);
}

.usmc2 {
    background-color: var(--USMCScarlet);
}

.usmc2_text {
    align-content: center;
    justify-content: center;
    color: var(--NavyBlue);
}

.usmc1 {
    background-color: var(--USMCGold);
}

.usmc1_text {
    align-content: center;
    justify-content: center;
    color: var(--NavyBlue);
}

.miramar {
    background-color: var(--MiramarTiel);
}

.miramar_text {
    align-content: center;
    justify-content: center;
    color: white;
}

.madison {
    background-color: var(--MadisonBlue);
}

.madison_text {
    align-content: center;
    justify-content: center;
    color: var(--MadisonGold);
}