* {
    margin: 0;
}

h1 {
    font-size: 68px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: center;
}

.container {
    margin: 0;
}

.row {
    width: 100vw;
}

.column {
    width: 100%;
    border: 0;
    padding: 0;
    flex: 50%;
}

.image {
    height: 400px;
    width: 400px;
    border: 3px solid black;
}

.codeup {
    background-color: #7CB342;
}

.devry {
    background-color: #CFA314;
}

.mercer {
    background-color: #00662F;
}

.ccaf {
    background-color: #172C7F;
    color: white;
}

.usmc1 {
    background-color: #D8AF36;
    color: navy;
}

.usmc2 {
    background-color: #DC1311;
    color: navy;
}

.miramar {
    background-color: #066A78;
}

#miramar {
    height: 200px;
    width: 400px;
    border: 3px solid black;
}

.madison {
    background-color: #1F2C4C;
    color: white;
}