.row {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.column {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    flex: 50%;
}

h2 {
    text-align: center;
    color: #172C7F;
    font-size: 60px;
}

.Ribbons {
    width: 100vw;
}

.Ribbons-list {
    margin: auto;
    width: 800px;
}

.Ribbons-list>ol {
    margin-left: 50px;
    padding-left: 15px;
    display: inline-block;
    text-align: center;
}

#ribbons {
    display: block;
    margin: auto;
    height: 400px;
    width: 800px;
}

.cert {
    width: 800px;
    height: 600px;
    margin: auto;
    border: 2px solid black;
}

.coldWar {
    height: 600px;
    width: 800px;
    margin: auto;
    border: 2px solid black;
}

.figCaption {
    text-align: center;
    width: 100%;
    margin: 0;
}

.mcDischarge {
    height: 600px;
    width: 800px;
    margin: auto;
}

.m16Badge {
    width: 400px;
    height: 400px;
}

.m9badge {
    width: 400px;
    height: 400px;
}

.njang {
    height: 600px;
    width: 800px;
}

.ncto {
    height: 400px;
    width: 400px;
}

.ase {
    height: 400px;
    width: 400px;
}

.aia {
    height: 400px;
    width: 400px;
}

.coabo {
    border: 2px solid black;
    height: 600px;
    width: 800px;
    margin: auto;
}

.coret {
    height: 800px;
    width: 600px;
    margin: auto;
}