* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    color: #172C7F;
    font-size: 40px;
}

hr {
    border: 3px solid #172C7F;
}

.ribbon-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.certs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 20px 10px;
    margin: 0 auto;
    gap: 16px;
}

.certs img {
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

section::after {
    content: "";
    width: 350px;
}