:root {
    --hr-color: #172C7F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    font-size: 50px;
}

h2 {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    color: var(--hr-color);
    font-size: 40px;
}

li {
    font-weight: bold;
}

hr {
    border: 3px solid var(--hr-color);
}

.ribbon-section {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

.ribbons-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 10px 5px;
    margin: 0 auto;
}

.certs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 20px 10px;
    margin: 0 auto;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 10px 5px;
    margin: 0 auto;
    gap: 10px;

}

.certs img {
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.nonphoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 10px 5px;
    margin: 0 auto;
}

.certs::after {
    content: "";
    width: 600px;
}

@media screen and (max-width: 360px) {
    .ribbon-section {
        display: flex;
        justify-content: center;
        /*width: 350px;*/
        max-width: 350px;
        margin: 0;
        padding: 0;
    }

    .ribbon-section img {
        width: 350px;
    }

    .ribbons-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        padding: 0;
        margin: 0 auto;
    }

    .certs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        padding: 0;
        margin: 0 auto;
    }
}