body {
    background-image: url("/Images/computer_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2 {
    color: red;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: orange;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

li {
    color: khaki;
    font-size: 20px;
    font-weight: bold;
}

a {
    color: khaki;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

a:visited {
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

a:active {
    color: green;
    font-size: 20px;
    font-weight: bold;
}