h1 {
    color: black;
    text-align: center;
    font-size: 60px;
}

h2 {
    color: #006AFF;
    text-align: center;
    font-size: 40px;
}

ul {
    list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.main-page {
    margin-top: 1em;
    display: block;
    background-color: olivedrab;
}

.contact {
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: red;
}

.context {
    font-weight: bold;
    color: #00008b;
}

.emblem-left {
    background-color: #BA152F;
    display: flex;
    justify-content: center;
}

.emblem-right {
    background-color: #D8AF36;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
}

.emblem {
    height: 100%;
    width: 100%;
    object-fit: contain;
=======
>>>>>>> fa2d6bb82c5db2bbc501d78003c1a17629cfb156
}

/*.emblem {*/
/*    display: flex;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    object-fit: contain;*/
/*}*/

.link {
    display: flex;
    justify-content: center;
}

.sand {
    background-color: #F2E8C9;
}

#mtd {
    color: black;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
}

#skills {
    color: #006AFF;
    text-align: center;
    font-size: 30px;
}

#afvet {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
