:root {
    --background: olivedrab;
    --VABlue: #629BCD;
    --BlueText: #006AFF;
    --Location: khaki;
    --UberBlack: #212529;
    --UberRed: #FF0000;
    --LyftPink: #FF00E2;
    --LyftText: #FAEBD7;
    --LyftPurple: #52008B;
    --ANGBlue: #006AFF;
    --ANGSky: #0DCAF0;
    --ANGGreen: #008000;
    --Year: antiquewhite;
    --OrangeRed: orangered;
    --VAText: #f8f8ff;
    --VATitle: #f0fff0;
    --CAANGText: #ffebcd;
    --APTBlue: #1B5189;
    --APTYellow: #EDE432;
    --APTText: #00FFFF;
    --USMCText: navy;
    --clr-USMCscarlet: #BA152F;
    --clr-USMCgold: #D8AF36;
}

* {
    box-sizing: border-box;
    margin: 1em;
}

body {
    background-color: var(--background);
}

p {
    color: var(--OrangeRed);
}

.aclink {
    text-decoration: none;
    color: #71F53E;
    text-shadow: 2px 2px var(--UberBlack);
}

.text1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text2 {
    font-size: 30px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text3 {
    font-size: 25px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
    padding-right: 10px;
}

.year {
    font-weight: bold;
    color: var(--Year);
    text-shadow: 2px 2px var(--UberBlack);
}

.location {
    font-weight: bold;
    color: var(--Location);
    text-shadow: 2px 2px var(--UberBlack);
}

#ccpTitle {

}

#ccp {
    background-color: var(--UberBlack);
    border: 2px solid var(--VATitle);
    text-shadow: 2px 2px yellow;
}

#ccpt {
    color: var(--VATitle);
    text-shadow: 2px 2px var(--clr-USMCgold);
}

#ccpvet1 {
    color: var(--VATitle);
    text-shadow: 1px 1px var(--ANGBlue);
}

#ccpvet2 {
    text-shadow: 1px 1px var(--Location);
    color: var(--ANGGreen);
}

#dover {
    background-color: var(--ANGBlue);
    border: 2px solid var(--USMCText);
}

#doverTitle {
    color: khaki;
    text-shadow: 2px 2px var(--UberBlack);
}

#amcm {
    color: #71F53E;
    text-shadow: 2px 2px var(--UberBlack);
}

#amcmp {
    color: #71F53E;
    text-shadow: 2px 2px var(--UberBlack);
}

#vetInd {
    background-color: var(--VABlue);
    border: 2px solid var(--VATitle);
}

#vidd {
    color: var(--VAText);
    text-shadow: 2px 2px var(--UberBlack);
}

#vidt {
    color: var(--VATitle);
    text-shadow: 2px 2px var(--UberBlack);
}

#uber {
    background-color: var(--UberBlack);
    border: 2px solid var(--UberRed);
}

#ubert {
    color: var(--UberRed);
    text-shadow: 2px 2px var(--LyftText)
}

#uberdd {
    color: var(--UberRed);
    text-shadow: 1px 1px var(--LyftText)
}

#ubertt {
    color: var(--UberRed);
    text-shadow: 1px 1px var(--LyftText)
}

#lyft {
    background-color: var(--LyftPink);
    border: 2px solid var(--LyftPurple);
}

#lydd {
    color: var(--LyftText);
    text-shadow: 1px 1px var(--VAText);
}

#lyftt {
    color: var(--LyftText);
    text-shadow: 1px 1px var(--VAText);
}

#njang {
    background-color: var(--ANGBlue);
    border: 2px solid var(--LyftPurple);
}

#njangt {
    color: var(--ANGGreen);
    text-shadow: 2px 2px var(--UberBlack);
}

#njangd {
    color: var(--ANGGreen);
    text-shadow: 2px 2px var(--UberBlack);
}

#cang {
    background-color: var(--ANGSky);
    border: 2px solid var(--LyftPurple);
}

#cangdd {
    color: var(--LyftText);
    text-shadow: 2px 2px var(--UberBlack);
}

#cangt {
    color: var(--LyftText);
    text-shadow: 2px 2px var(--UberBlack);
}

#nvang {
    background-color: var(--ANGSky);
    border: 2px solid var(--LyftPurple);
}

#nvangdd {
    color: var(--CAANGText);
    text-shadow: 2px 2px var(--UberBlack);
}

#angt {
    color: var(--CAANGText);
    text-shadow: 2px 2px var(--UberBlack);
}

#apt {
    background-color: var(--APTBlue);
    border: 2px solid var(--VATitle);
}

#aptt {
    text-shadow: 2px 2px var(--VATitle);
}

#aptdd {
    color: var(--APTYellow);
    text-shadow: 2px 2px var(--UberBlack);
}

#apttt {
    color: var(--APTText);
    text-shadow: 2px 2px var(--UberBlack);
}

#usmc {
    background-color: var(--clr-USMCscarlet);
    border: 2px solid var(--clr-USMCgold);
}

#mcdd {
    color: var(--USMCText);
}

#mctt {
    color: var(--USMCText);
}