* {
    box-sizing: border-box;
    margin: 1em;
}

body {
    /*background-color: olivedrab;*/
}


h2 {
    font-weight: bold;
    color: #006AFF;
}

p {
    color: orangered;
}

.year {
    font-weight: bold;
    color: aquamarine;
}

.location {
    font-weight: bold;
    color: khaki;
}

#vetInd {
    background-color: #629BCD;
}

#lyft {
    background-color: #FF00E2;
}

#apt {
    background-color: #1B5189;
}