:root {
    --background: olivedrab;
    --VABlue: #629BCD;
    --BlueText: #006AFF;
    --Location: khaki;
    --UberBlack: #212529;
    --UberRed: #FF0000;
    --LyftPink: #FF00E2;
    --LyftText: #FAEBD7;
    --LyftPurple: #52008B;
    --ANGBlue: #006AFF;
    --ANGSky: #0DCAF0;
    --ANGGreen: #008000;
    --Year: antiquewhite;
    --OrangeRed: orangered;
    --VAText: #f8f8ff;
    --VATitle: #f0fff0;
    --CAANGText: #ffebcd;
    --APTBlue: #1B5189;
    --APTYellow: #EDE432;
    --APTText: #00FFFF;
    --USMCText: navy;
}

* {
    box-sizing: border-box;
    margin: 1em;
}

body {
    background-color: var(--background);
}

h2 {
    font-weight: bold;
    color: var(--BlueText);
}

p {
    color: var(--OrangeRed);
}

.aclink {
    text-decoration: none;
}

.text1 {
    font-size: 35px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text2 {
    font-size: 25px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
}

.text3 {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    text-align: start;
    padding-right: 10px;
}

.year {
    font-weight: bold;
    color: var(--Year);
}

.location {
    font-weight: bold;
    color: var(--Location);
}

.dover {
    color: khaki;
}

.info {
    font-size: 20px;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: var(--OrangeRed);
}

#ccp {
    background-color: var(--UberBlack);
    border: 2px solid var(--VATitle);
}

#ccpvet2 {
    color: var(--ANGGreen);
}

#dover {
    background-color: var(--BlueText);
    border: 2px solid var(--USMCText);
}

#amcm {
    color: orangered;
}

#vetInd {
    background-color: var(--VABlue);
    border: 2px solid var(--VATitle);
}

#vidd {
    color: var(--VAText);
}

#vidt {
    color: var(--VATitle);
}

#uber {
    background-color: var(--UberBlack);
    border: 2px solid var(--UberRed);
}

#uberdd {
    color: var(--UberRed);
}

#ubertt {
    color: var(--UberRed);
}

#lyft {
    background-color: var(--LyftPink);
    border: 2px solid var(--LyftPurple);
}

#lydd {
    color: var(--LyftText);
}

#lyftt {
    color: var(--LyftText);
}

#njang1 {
    background-color: var(--ANGBlue);
    border: 2px solid var(--LyftPurple);
}

#njang {
    color: var(--ANGGreen);
    text-shadow: 1px 1px var(--UberBlack);
}

#njangt {
    color: var(--ANGGreen);
    text-shadow: 1px 1px var(--UberBlack);
}

#caang {
    background-color: var(--ANGSky);
    border: 2px solid var(--LyftPurple);
}

#cangdd {
    color: var(--LyftText);
    text-shadow: 1px 1px var(--UberBlack);
}

#cangt {
    color: var(--LyftText);
    text-shadow: 1px 1px var(--UberBlack);
}

#nvang {
    background-color: var(--ANGSky);
    border: 2px solid var(--LyftPurple);
}

#angdd {
    color: var(--CAANGText);
    text-shadow: 1px 1px var(--UberBlack);
}

#angt {
    color: var(--CAANGText);
    text-shadow: 1px 1px var(--UberBlack);
}

#apt {
    background-color: var(--APTBlue);
}

#aptdd {
    color: var(--APTYellow);
}

#apttt {
    color: var(--APTText);
}

#mcdd {
    color: var(--USMCText);
}

#mctt {
    color: var(--USMCText);
}